.title-bar
  background-color: #4281A4


  h1
    text-align: center
    font-family: $header-font
    color: #FFF7CE
    font-size: 3.5em
    font-weight: 400
    margin: 10px 0

  h2
    text-align: center
    font-family: $header-font
    color: #FFF7CE
    font-size: 1.75em
    font-weight: 400
    margin: 0
    text-transform: uppercase
    letter-spacing: 2px
    text-shadow: 3px 3px 10px rgba(0,0,0,0.4)


.control-bar
  height: 30px
  background-color: #FFF7CE


  h4
    margin: 0
    padding: 6px 0
    text-transform: uppercase
    color: #4281A4
    font-family: $header-font
    font-weight: 700

  p
    margin: 0
    padding: 6px 0

  .difficulty
    display: flex
    justify-content: space-around
    align-items: center

    h4
      padding: 6px 5px

    .selected
      background-color: #4281A4
      color: #FFF7CE
