.title-bar
  background-color: #4281A4


  h1
    text-align: center
    text-transform: uppercase
    font-family: $header-font
    color: #FFF7CE
    font-size: 3.5em
    font-weight: 400
    margin: 10px 0

    @media(max-width: 550px)
      font-size: 2.5em

  h2
    text-align: center
    font-family: $header-font
    color: #FFF7CE
    font-size: 1.75em
    font-weight: 400
    margin: 0
    text-transform: uppercase
    letter-spacing: 2px
    text-shadow: 3px 3px 10px rgba(0,0,0,0.4)

    @media(max-width: 550px)
      font-size: 1.5em

.control-bar
  height: 30px
  background-color: #FFF7CE

  @media(max-width: 550px)
    height: auto

  button
    border: none
    margin: 0
    padding: 6px 8px
    text-transform: uppercase
    color: #4281A4
    background-color: inherit
    font-family: $header-font
    font-weight: 700
    cursor: pointer

    &:focus
      outline: none

    &:hover
      background-color: #4281A4
      color: #FFF7CE

    @media(max-width: 550px)
      margin: 1px 0

  h4
    margin: 0
    padding: 6px 0
    text-transform: uppercase
    color: #4281A4
    font-family: $header-font
    font-weight: 700

  p
    margin: 0
    padding: 6px 0

  .difficulty
    display: flex
    justify-content: space-around
    align-items: center

    @media(max-width: 550px)
      flex-direction: column

    .selected
      background-color: #4281A4
      color: #FFF7CE
